
main {
  display: flex;
  justify-content: flex-start;
  gap: 10em;
}

.name-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 3px solid black;
  column-gap: 2em;
  width: 100%;
  margin-left: 2em;
}

.spieler {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 2.4em;
}

.spieler:nth-child(even) {
  background-color: #ddd;
}

.heading {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 5em;
  margin-left: 2em;
  gap: 2em;
}

.left-container {
  display: flex;
  flex-direction: column;
}

#nameField {
  padding: 0.9em;
}

#scoreField {
  padding: 0.9em;
}

form {
  width: 300px;
}

input {
  padding: 10px 0 10px 0;
  margin-bottom: 10px;
  width: 100%;
}

.submit-btn-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

#submitBtn {
  width: 37%;
  height: 35px;
  font-size: 27px;
}

#refreshBtn {
  width: 37%;
  height: 35px;
  font-size: 27px;
  margin-top: 0.5em;
}
