
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Ubuntu', sans-serif;
  font-size: 60%;
}

.title {
  display: flex;
  justify-content: flex-start;
  font-size: 5rem;
  padding: 1.5rem;
  background: #000000;
  color: white;
  letter-spacing: 2px;
}

.main {
  padding-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 60rem;
  background-image: url(../image/banniere.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  gap: 5rem;
  margin-right: 4rem;
}

.scores {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 50rem;
}

.top {
  display: flex;
  gap: 4rem;
}

.scores-title {
  font-size: 4rem;
  font-weight: 600;
}

.btn {
  font-size: 3rem;
  margin-top: 1rem;
  margin-left: auto;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(10, 10, 10, 0.94);
  cursor: pointer;
}

.btn:hover {
  background: #ddd;
  color: white;
}

.scores-box {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  height: 40rem;
  border: 2px solid black;
  overflow-y: scroll;
  background-color: white;
}

.scores-box::-webkit-scrollbar {
  width: 0.5em;
}

li:nth-child(even){
  background: #ddd;
}

.add-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 3rem;
}

.inputs {
  padding: 0.7rem;
  font-size: 2rem;
  background: #ddd;
  color: #000000;
  border: none;
}

::placeholder {
  color: #000000;
  font-weight: 500;
}

#name-input{
  border: 2px solid black;
}
#score-input{
  border: 2px solid black;
}
.add-btn {
  margin-left: auto;
  cursor: pointer;
}

li {
  padding: 5px 15px;
  font-weight: 500;
}

footer {
  display: flex;
  justify-content: flex-start;
  background: #000000;
  color: white;
  font-size: 2rem;
  padding: 13px;
  position: relative;
}

footer h3 {
  font-weight: 500;
  letter-spacing: 0.5px;
}
